<table class="tile">
  <tbody>
    <tr>
      <td>
        <div>
          <h3><%= title %></h3>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="more-info">
          <a href="<%= link %>">More info</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
