<table class="tile">
  <tbody>
    <tr>
      <td>
        <div>
          <h3><a href="#" onClick="gotoFirstAdmin()" class="tile-title"><%= title %></a></h3>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="more-info">
          <a href="#" onClick="gotoFirstAdmin()">More info</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
