
<div>
  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

  <div style="border: 1px solid grey; display: inline; float: left; padding:
20px; margin: 20px">
    <h1><i class="icon-home" style="font-size: 200px"></i></h1>
  </div>

</div>
