<!DOCTYPE html>
<html>
<head>
  <title>Hub</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:8889/cc-navbar.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

<script src="http://localhost:8889/cc-navbar.js"></script>

<%= yield %>

</body>
</html>
